<div class="current" id="home">
  <ul>
    <li class="arrow"><a href="#han">HAN</a></li>
	</ul>
</div>

<div id="han">
  <div class="toolbar">
      <h1>Alerts</h1>
      <a class="button back" href="#">Back</a>
  </div>
  <ul>
    <li class="arrow"><%= link_to "HAN Home", hud_path, :rel=>"external" %></li>
  </ul>
</div>



